#!/bin/bash

# Values need to publish to AWS IoT
export IOT_HOST=your_value
export ROOT_CA_PATH=your_value
export CERT_PATH=your_value
export PRIVATE_KEY_PATH=your_value
export CLIENT_ID=your_value
export TOPIC=your_value
